.App {
	height: 100vh;
	background-color: rgba(198, 190, 238, 0.502);
	width: 100%;
}

.App-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.PageNotFound {
	display: flex;
	margin: 50px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.PageNotFound > .emoji {
	font-size: 10vw;
}