
.Card {
  min-width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
}

.Card-inner {
  display: flex;
  margin: 1%;
  width: 98%;
  height: 96%;
  border-radius: 10px;
  background-color: rgb(198, 190, 238, 0.3);
  padding: 10px;
  gap: 10px 10px;
}

.Card-inner > div {
  flex: 1 1 0;
  width: 0;
}

.Card-inner-left {
  display: flex;
}

.Card-inner-left > img{
  max-width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.Card-inner-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Card-inner-right > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Card-inner-right > div > .title {
  font-weight: 600;
  font-size: 22px;
}

.Card-inner-right > div > .desc {
  font-size: 14px;
}

.Card-inner-right > div > .price {
  text-align: center;
  background-color: #E7A4D0;
  padding: 5px;
  width: 60px;
  border-radius: 5px;
  font-size: 13px;
}

.Card-inner-right > div > button {
	color: white;
	font-weight: 600;
  height: 30px;
  width: 100px;
	background-color: #00886B;
	border-radius: 5px;
  border: none;
	cursor: pointer;
}

.Card-inner-right > div > button:hover {
	transform: translateY(-3px);
	transition: all 0.5s cubic-bezier(.165,.84,.44,1);
}